/* 検索フォーム */
.index_search_form{
  text-align: center;
}

.index_text_field{
  height: 40px;
  width: 70vw;
  font-size: 20px;
}

.index_submit_button{
  height: 50px;
  width: 200px;
  background-color: #0056b3; /* ホバー時の色 */
}

/* エラーメッセージ */
.index_error_message{
  text-align: center;
  color: red;
  margin:20px 0 20px 0
}

/* 検索ヒット数、ページ数 */
.index_book_counts {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto; /* 上下の余白を調整 & 中央配置 */
}

/* 検索した本の情報 */
.index_book {
  display: flex;  /* 横並び配置 */
  justify-content: center; /* 中央寄せ */
  align-items: center; /* 縦方向の中央揃え */
  gap: 20px; /* 画像とテキストの間隔 */
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto; /* 上下の余白 & 水平方向に中央配置 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  width: 80%; /* コンテンツ幅を調整 */
  max-width: 600px; /* 最大幅を設定 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.index_book2{
  display: flex;  /* 横並び配置 */
  justify-content: center; /* 中央寄せ */
  align-items: center; /* 縦方向の中央揃え */
  gap: 20px; /* 画像とテキストの間隔 */
  background-color: #DDDDDD;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto; /* 上下の余白 & 水平方向に中央配置 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  width: 80%; /* コンテンツ幅を調整 */
  max-width: 600px; /* 最大幅を設定 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.index_book:hover {
  transform: translateY(-5px); /* 上に5px移動 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* 影を強調 */
}

.index_book2:hover {
  transform: translateY(-5px); /* 上に5px移動 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* 影を強調 */
}

.index_book_img {
  width: 100px; /* すべての画像を同じ幅に */
  height: 150px; /* 高さも統一 */
  object-fit: cover; /* 画像が枠内に収まるように調整 */
  border-radius: 5px; /* 角を少し丸める */
}

.index_book_info {
  width: 60%;
  text-align: left;
}

.index_book h2 {
  font-size: 15px;
  margin: 10px 0;
}

.index_book p {
  font-size: 13px;
  margin: 5px 0;
}


/* ページナビゲーションを中央に配置 */
.index_page_nav {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  align-items: center;
  margin: 20px auto;
  max-width: 800px; /* ページの横幅を制限 */
}

/* 左のボタン */
.index_page_before {
  flex: 1; /* 可能な限り左に寄せる */
  text-align: left;
}

/* 右のボタン */
.index_page_next {
  flex: 1; /* 可能な限り右に寄せる */
  text-align: right;
}

/* ボタンのデザイン */
.index_page_before form input[type="submit"],
.index_page_next form input[type="submit"] {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}