/* 検索フォーム */
.index_search_form{
  text-align: center;
}

.index_text_field{
  height: 40px;
  width: 70vw;
  margin: 0px;
  font-size: 20px;
}

.index_submit_button{
  height: 50px;
  width: 200px;
  background-color: #0056b3;
}

/* エラーメッセージ */
.index_error_message{
  text-align: center;
  color: red;
  margin:20px 0 20px 0
}

/* 検索ヒット数、ページ数 */
.index_book_counts {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto; /* 上下の余白を調整 & 中央配置 */
}

/* 検索した本の情報 */
.index_book {
  display: flex;  /* 横並び配置 */
  justify-content: center; /* 中央寄せ */
  align-items: center; /* 縦方向の中央揃え */
  gap: 20px; /* 画像とテキストの間隔 */
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 5px auto; /* 上下の余白 & 水平方向に中央配置 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  width: 80%; /* コンテンツ幅を調整 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.index_book_link {
  text-decoration: underline;
  cursor: pointer;
}

.index_book_link:hover {
  color: blue;
}


.index_book2{
  display: flex;  /* 横並び配置 */
  justify-content: center; /* 中央寄せ */
  align-items: center; /* 縦方向の中央揃え */
  gap: 20px; /* 画像とテキストの間隔 */
  background-color: #DDDDDD;
  border-radius: 8px;
  padding: 10px;
  margin: 5px auto; /* 上下の余白 & 水平方向に中央配置 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  width: 80%; /* コンテンツ幅を調整 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.index_book_img {
  width: 100px; /* すべての画像を同じ幅に */
  height: 140px; /* 高さも統一 */
  object-fit: cover; /* 画像が枠内に収まるように調整 */
  border-radius: 5px; /* 角を少し丸める */
  margin-right: 50px;
}

.index_book_info {
  width: 100%;
  text-align: left;
  width: 60%;
  margin-left: 30px;
}

.index_book h2 {
  font-size: 15px;
  margin: 10px 0;
}

.index_book p {
  font-size: 13px;
  margin: 5px 0;
}

.index_book2 h2 {
  font-size: 15px;
  margin: 10px 0;
}

.index_book2 p {
  font-size: 13px;
  margin: 5px 0;
}

/* ページナビゲーションを中央に配置 */
.index_page_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index_page_box{
  padding: 5px;
}

/* ボタンのデザイン */
.index_page_box form input[type="submit"]{
  color: black;
  border: solid;
  border-width: 2px;
  height: 40px;
  width: 40px;
  font-size: 13px;
  border-radius: 0%;
  cursor: pointer;
}
.index_now{
  color: black;
  border: solid;
  border-width: 2px;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  font-size: 13px;
  border-radius: 0%;
  background-color: #DDDDDD;
  text-align: center;
  line-height: 40px;
}
