<% if @genre_books.present? %>
<div class = "recommend_title">ジャンル：<%= @book_genre_name %>　のお薦め本</div>
  <%= render partial: "shared/recommend_book", locals: { books: @genre_books } %>
<% end %>

<% if @author_books.present? %>
<div class = "recommend_title">著者：<%= @most_frequent_author %>　のお薦め本</div>
  <%= render partial: "shared/recommend_book", locals: { books: @author_books } %>
<% end %>